*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #C4C4C4;
  font-family: sans-serif;
  font-size: 10px;

}

.container {
 background-color: #FFFFFF;
 width: 420px;
 margin: 0 auto;

}

nav {
  margin: 0 auto;
padding: 10px;
width: 420px;
background-image: url(../Images/Top_Bar.png)
background-repeat: no-repeat;
background-position: top;

}


.arrivals-list {
  width: 420px;
}

  .bus-number {
  margin: 1%;
  padding: 3%;
  border-bottom: 1px solid #C4C4C4;
  }


.content {
    background-color: #FFFFFF;
    margin: 1%;
    padding: 1%;
    width: 92%;
    display: inline-block;
  }

  div h1 {
    font-size: 110%;
    font-weight: medium;
    color: #6E5C5C;
    padding: 2px;
  }

  h2 {
    font-size: 110%;
    float: right;
    vertical-align: right;
}

h3{
 color: #6E5C5C;
}
