*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #C4C4C4;
  font-family: sans-serif;
  font-size: 12.5px;
  color: #6E5C5C;

}

.container {
    background-color: #FFFFFF;
    width: 375px;
    margin: 0 auto;

}

nav {
  margin: 0 auto;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid #C4C4C4;
  padding-bottom: 20px;
  background-color: #e5e5e5;

}

.fa-search {
  float: right;
  padding-right: 10px;
  padding-top: 10px;
}

nav h1 {
  font-size: 200%;
  text-align: center;
  color: #483F3F;
  letter-spacing: 1.5px;
}

.fa-inverse {
  color: blue;
  padding-left: 10px;
  padding-top: 10px;
}


.arrivals-list {
  width: 100%;
}

  .bus-number {
  border-bottom: 1px solid #C4C4C4;
  background-color: #FFFFFF;
  padding: 5%;
  width: 100%;
  display: inline-block;
  }

  h1 {
    font-weight: medium;
    color: #6E5C5C;
    padding: 2px;
  }

  h2 {
    font-size: 110%;
    float: right;
    vertical-align: right;
}

h3{
 color: #6E5C5C;
}
